#container{
	margin: auto;
	width: 100%;
}
/*--HEADER--*/
#header{
	height: 110px;
	color: blue;
	text-transform: uppercase;

}
#logo{
	float: left;
}
#title{
	text-align: center;
}

/*--NAVIGATION--*/
#nav{
	clear: both;
	height: 40px;
	line-height: 40px;
	background-color: blue;
	border-bottom: 10px white solid;
}
a{
	text-decoration: none;
}
#nav ul{
	list-style: none;
	padding-left: 0px;
}


#nav ul li ul li{
	width: 120px;
	height: 40px;

}

#nav ul li{
	display: inline-block;
	position: relative;
	padding-left: 20px;
}

#nav ul li a{
	display: block;
	color: white;
}
#nav ul li ul{
	display: none;
}

#nav ul li ul{
	position: absolute;
	top: 40px;
	left: 0%;
	width: 100%;
}

#nav ul li:hover > ul{
	display: block;
	color: white;
}

#nav ul li ul{

}

#nav ul li ul li a:hover {
	color: white;
	background-color: blue;
}

/*--CONTENT--*/
#content{
	float: left;
	width: 70%;
}
/*--ARTICEL--*/



#articel{	
	width: 30%;
	background-color: black;
}

#article ul{
	list-style: none;
	text-align: center;
}
#article ul li{
	padding-left: 40px;
}

#adside{
	clear: both;
	width: 70%;
	border-top: 3px white solid;

}

#footer{
	height: 40px;
	background-color: black;
	color: white;
	text-align: center;
	line-height: 40px;
	border-top: 10px white solid;
}