.container {
    position: relative;
    border: 2px solid blue;
    height: 400px;
    width: 400px;
    margin: 200px auto;
}

.box {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
    
    /* TRUNG TAM
    right: 150px;
    bottom: 150px; */

    /* GOC PHAI DUOI */
    /* top: 300px;
    left: 300px; */

    /* NGOAI CONTAINER */
    top: -100px;
    left: 150px;
} 