*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

ul li{
	list-style: none;
}

.column {
  float: left;
  padding: 15px;
}

.clearfix::after{
	content: "";
	clear: both;
	display: table;
}

#wrapper{
	width: 1024px;
	margin: 0px auto;
}
/* HEADER */
#header{
	width: 100%;
}

.logo{
	width: 25%;
}

.logo img{
	width: 100%;
	background-size: cover;
	background-position: center;
}

.info{
	width: 75%;
	text-align: center;
	padding-top: 30px;
	color: blue;
}

.info h1{
	font-size: 18px;
}

.info h2{
	font-size: 14px;
}
/* NAVIGATION */
#nav{
	width: 100%;
	background: blue;
	padding: 0 5px;
}

#nav ul{
	margin: 0;
	padding: 0;
	line-height: 26px;
}
#nav ul li{
	float: left;
	padding: 10px;
}

#nav ul li a{
	color: white;
	font-weight: bold;
}

#nav ul li:hover{
	background: darkblue;
}
/* CONTENT */
#content{
	width: 70%;
	float: left;
}

#section{
	width: 100%;
	padding: 0;
}

#section img{
	max-width: 100%;
	background-size: cover;
	background-position: center;
}

#article{
	width: 100%;
}

#article h2{
	margin-bottom: 15px;
}

#aside{
	width: 30%;
	text-align: center;
	padding: 80px;
}

#aside ul li{
	padding: 7px;
}
/* FOOTER */
#footer{
	width: 100%;
	text-align: center;
	background: black;
	color: white;
}