body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 10px;
}

.container {
    width: 70%;
    margin: 0 auto;
    height: 660px;
}
/*HEADER*/
.header {
    margin: 0 auto;
    padding: 0;
    height: 10%;
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
}

#logo {
    float: left;
}

#header-text {
    text-align: center;
}

/*NAVIGATION*/
.nav {
    background: pink;
    margin: 0 auto;
    height: 10%;
    font-size: 15px;
    padding: 0;

}
.nav ul {
    padding-left: 0;
}
.nav ul li {
    display: inline;
    padding-left: 0;
    margin-right: 10px;
}
.nav ul li a {
    text-decoration: none;
    color: inherit;
}


/*CONTENT*/

/*---------SECTION-----------*/
.section {
    height: 200px;
    width: 60%;
    background: blue;
    float: left;

}

.section a img{
    height: 100%;
}


/*--------ARTICLE-----------*/
.article {
    height: 200px;
    width: 60%;
    background: gold;
    color: black;
    float: left;
}


/*---------------ASIDE---------------*/
.aside {
    color: black;
    position: relative;
    background: red;
    float: right;
}