 body {
            margin: 0;
            padding: 0;
            color: white;
            font-size: 10px;
        }

        .container {
            width: 70%;
            margin: 0 auto;
            height: 700px;
            background: green;
        }

        .header {
            background: orangered;
            margin: 0 auto;
            padding: 0;
            height: 10%;
        }

        /*NAVIGATION*/
        .nav {
            background: pink;
            margin: 0 auto;
            height: 10%;

        }

        .nav ul {
            list-style-type: none;
            padding-left: 0;
        }

        .nav ul li {
            display: inline-block;
            line-height: 40px;
            margin: 0 10px;
        }


        .nav ul li ul {
            display: none;
        }

        .nav ul li :hover .menu2 {
            display: block;
        }


        /*CONTENT*/
        .content {
            background: yellow;
            height: 70%;
        }

        .section {
            height: 50%;
            width: 70%;
            background: purple;
            float: left;
        }

        .article {
            height: 50%;
            width: 70%;
            background: grey;
            float: left;
        }

        .aside {
            background: silver;
            float: right;
            width: 30%;
            height: 100%;

        }

        .footer {
            clear: both;
        }