body {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 10px;
}

.container {
    width: 70%;
    margin: 0 auto;
    /*height: 660px;*/

}

/*HEADER*/
.header {
    margin: 0 auto;
    padding: 0;
    height: 10%;
    text-transform: uppercase;
    font-weight: bold;
    color: blue;
}

#logo {
    float: left;
}

#header-text {
    text-align: center;
}

/*NAVIGATION*/
.nav {
    background: blue;
    margin: 0 auto;
    height: 10%;
    font-size: 15px;
    padding-top: 6px;
    color: white;

}

.nav ul {
    padding-left: 0;
}

.nav ul li {
    display: inline;
    padding-left: 0;
    margin-right: 10px;
}

.nav ul li a {
    text-decoration: none;
    color: inherit;
}


/*CONTENT*/
.content {
    width: 70%;
    /*height: 700px;*/
    float: left;
}

/*---------SECTION-----------*/
.section {
    background: blue;

}

.section img {
    width: 100%;
}


/*--------ARTICLE-----------*/
.article {
    background: white;
    color: black;
    /*height: 50%;*/
    font-size: 20px;
}

.article a {
    text-decoration: none;
    color: black;
}


/*---------------ASIDE---------------*/
.aside {
    color: black;
    background: white;
    float: left;
    width: 30%;
    height: 400px;
    font-size: 20px;
    text-align: center;
}


.aside ul li {
    list-style-type: none;
    margin-left: 5px;
}

.aside ul li a {
    text-decoration: none;
}


/*------------FOOTER--------------*/

.footer {
    position: relative;
    bottom: 0;
    height: 60px;
    width: 100%;
    clear: both;
    background: black;
    color: white;
    font-size: 18px;
    text-align: center;
}

.footer span {
    position: relative;
    left: 7px;
    top: 16px;
    transition: none 0s ease 0s;
    cursor: move;
}