*{
    margin:0;
    padding:0;
    /*border:none;*/
    font-family: 'Open Sans', sans-serif;*/
}
body{
	overflow: hidden;
	background-color: #ededed;
}
.to{
	margin-top: 50px;
	display: grid;
	grid-template-rows: repeat(12,1fr);
	grid-template-columns: minmax(100px,auto); 

}
.from{
	padding: 0 0 0 30px;
	margin: 0 auto;
	border: 1px solid #80808000;
	width: 420px;
    border-radius: 15px;
    flex-direction: column;
    box-shadow: 0px 0px 14px 0px grey;
    background-color: white;
    position: relative;
}

h2 {
	text-align: center;
	text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 30px;
    color:  #4db8ff
}
input{
    border-bottom: 2px solid #00BCD4;
    margin-top: 6px
    margin-bottom: 10px;
    outline-style: none;
    border-radius: 5px;
}
input[type="text"] {
	margin-top:7px;
	margin-bottom: 7px;
    padding: 7px;
    width: 70%;
}
input[type="password"] {
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 7px;
    width: 70%;
}
select{
	margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid #00BCD4;
}