div{
	margin-bottom: 20px;
}
#block1{
	color: red;
	text-transform: uppercase;
	text-align: center;
	font-size: 35pt;
	border-width: 7px;
	border-color: green;
	border-style: solid;
}
#block2{
	background-color: green;
	color: white;
}

.block{
	line-height: 25px;
	text-indent: 30px;	
}
#blockSP1{
	color: red;
	font-weight: bold;

}
#blockSP1_1{
	font-size: 25pt;
	font-weight: bold;
}
#blockSP2{
	color: red;
	font-weight: bold;
}
#blockSP2_1{
	background-color: orange;
	text-decoration: underline;
}
#blockSP3{
	color: blue;
}
