.boder{

	border-style: solid;
	border-width: 1px;
	border-color: grey;
	padding: 10px 10px 10px 10px;
}
.header{
	width: 99%;
	background-color: blue;
}
.content{
	width: 99%;
	background-color: white;
}
.footer{
	width: 99%;
	text-align: right;
}
.blockTitle{
	color: white;
	font-size: 15pt;
	font-weight: bold;
	padding-left: 4px;
	padding-top: 5px;
}	
.blockSP{
	color: blue;
	font-size: 15pt;
	font-weight: bold; 
}
.dropImage{
  float: left; /*Thuộc tính float xác định có hay không một thành phần được trôi nổi: giá trị left, right, none*/
  padding: 8px 10px 0 0; /*padding: top left bottom right*/
}
