*
{
	margin: 0;
	padding: 0;
}
.Nav ul
{
	background: gray;
	text-align: center;
	color: white;
}
.Nav ul li
{
	display: inline-table;
	width: 120px;
	height: 40px;
	line-height: 40px;
	position: relative;
}
.Nav ul li:hover
{
	background: blue;
}
.Nav ul li > ul
{
	display: none;
	position: absolute;
}
.Nav ul li:hover > ul
{
	display: block;
}
.Nav ul li ul li ul
{
	
	left: 120px;
	top: 0;
}







	




