* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: #303030;
}

.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    background-color: #303030;
    width: 150px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 18px;
    position: relative;
}

.navbar ul ul {
    display: none;
    margin-left: 0px;
}

.navbar ul li:hover {
    background-color: rgb(31, 31, 31);
}

.navbar ul li:hover > ul {
    display: block;
} 

.navbar ul li:hover > a {
    font-weight: bolder;
}

.navbar ul ul ul {
    margin-left: 150px;
    top: 0px;
    position: absolute;
}
