/*HEADER*/
#header {
    width: 500px;
    margin: 0 auto;
}

.container {
    position: fixed;
    left: 30%;
    right: 50%;
    width: 80%;

}
.container form {
    display: table;
}
.container p {
    display: table-row;
}
.container label {
    display: table-cell;
    position: relative;
}
.container input {
    display: table-cell;
    position: relative;
    left: 100px;
    width: 100%;

}
.container textarea {
    display: table-cell;
    position: relative;
    left: 100px;
    with: 100%;
}







