/*HEADER*/
#header {
    width: 500px;
    margin: 0 auto;
}

.container {
    width: 500px;
    margin: 0 auto;
}
.container form {
    display: table;
}
.container p {
    display: table-row;
}
.container label {
    display: table-cell;
}
.container input {
    display: table-cell;
}







