table, td{
	border: 1px solid black;
  	border-collapse: collapse;
  	width: 60%;
  	margin: 0 auto;
  	padding: 5px;
}
.block{
	background-color: blue;
	color: white;
	font-weight: bold;
	padding: 10px;
	border: 1;
}
.block1{
	color: blue;
	font-weight: bold;
	margin: none;
}
.picture{
	float: left;
	width: 120px;
	height: auto;
	padding: 10px;
}
p{
	padding: 10px;
}
.comeback{
	text-align: right;
}
.content{
	padding: 10px;
}